{% extends "base/base.html" %}

{% block title %}Module{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="container pt-1">
 <div class="py-5 text-center">
  <h2>Modul {{ course.name }} anpassen</h2>
  </div>
 <div class="row g-5 justify-content-md-center">
  <div class="col-sm-6">
  <form method="post" enctype="multipart/form-data">
   {% csrf_token %}
   {{ course_form|crispy }}
  <button class="btn btn-primary my-4" type="submit">Bestätigen</button>
  <a href="{% url 'courses' %}"><button type="button" class="btn btn-primary my-4">Abbrechen</button></a>
   <a href="{% url 'courses_delete' course_id=course.id %}"><button type="button" class="btn btn-primary my-4">Löschen</button></a>
  </form>
   </div>
 </div>
 </div>
{% endblock %}