<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="#">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Community</a>
  </li>
    <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">Einstellungen</a>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item" href="#">Profil</a></li>
      <li><hr class="dropdown-divider"></li>
      <li><a class="dropdown-item" href="https://github.com/armondressler/kete_hs21/blob/main/README.md">About</a></li>
    </ul>
  </li>
    <li class="nav-item">
    <a class="nav-link" href="#">Logout</a>
  </li>
</ul>