{% extends "base/base_no_navigation.html" %}

{% block title %}Welcome{% endblock %}

{% block head %}
{% endblock %}

{% block content %}
<main class="form-signin">
  <form method="post">
    {% csrf_token %}
    {% load static %}
    <img class="mb-4 ketehs21-logo-medium" src="{% static 'images/logo_medium.jpg' %}" alt="Logo (with rounded corners obviously, duh) goes here" width="100%" height="70%">
    <div class="form-floating m-1">
      <input type="text" class="form-control" id="floatingInput" name="username" placeholder="name@stud.hslu.ru">
      <label for="floatingInput">User</label>
    </div>
    <div class="form-floating m-1">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
      <label for="floatingPassword">Password</label>
    </div>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>
    <div class="d-flex justify-content-between">
    <button class="btn btn-lg btn-primary w-50 m-1" type="submit">Login</button>
    <button class="btn btn-lg btn-primary w-50 m-1">Sign up</button>
    </div>
  </form>
</main>
{% endblock %}
