{% extends "base/base.html" %}

{% block title %}Courses{% endblock %}

{% block head %}
<link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock %}

{% block content %}
<video id="videojs-player" class="video-js vjs-fill rounded-3">
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
    </p>
    <track src="/media/recordings/28d8ec05-ad8a-4dd8-b517-3878c04ee81a_Testaufnahme.vtt" id="videojs-track" kind="metadata" srclang="de" label="Deutsch" default>
</video>
<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
<script>

let videoOption = {
        controls: true,
        autoplay: true,
        fluid: true,
        preload: 'auto',
        sources: [{
          src: '/media/recordings/28d8ec05-ad8a-4dd8-b517-3878c04ee81a_Testaufnahme.mp4',
          type: 'video/mp4'
        }]
};


let player = videojs('videojs-player', videoOption);

player.ready(function(){
    const textTrack = player.remoteTextTracks()[0];
    textTrack.addEventListener('cuechange', () => {
        let activeCue = textTrack.activeCues[0];
        if (activeCue === undefined) {
            return;
        } else {
            console.log(activeCue.text, activeCue.startTime, activeCue.endTime);
        }
    })
});

</script>

{% endblock %}