{% extends "base/base.html" %}

{% block title %}Courses{% endblock %}

{% block head %}
<link href="https://vjs.zencdn.net/7.17.0/video-js.css" rel="stylesheet" />
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock %}

{% block content %}
<div class="d-block align-items-stretch bg-transparent rounded-3" style="width: 380px; height: 1200px; margin-top:100px">
    <a class="d-block align-items-center link-dark text-decoration-none text-center">
      <span class="fs-5 fw-semibold">Verfügbare Lektionen</span>
    </a>
    <div class="list-group list-group-flush scrollarea">
      {% for lesson in lessons %}
        <div class="mt-1 lesson-container" recordings_url="{{ recordings_url }}" recording_video_archived_name="{{ lesson.recording_set.first.recording_video_archived_name|default_if_none:'nothing' }}">
            <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight" aria-current="true">
                <div class="d-flex flex-nowrap">
                  <strong class="col-9 mb-1">{{ lesson.name }}</strong>
                  <small>{{ lesson.date_created }}</small>
                </div>
                <div class="d-flex flex-nowrap">
                    <div class="col-9 mb-1 small">{{ lesson.description }}</div>
                    <div>{% if is_teacher %}<a class="bg-transparent" href="{% url 'lessons_delete' course_id=course.id lesson_id=lesson.id %}"><button type="button" class="btn btn-warning">Löschen</button></a>{% endif %}</div>
                </div>
            </a>
        </div>
        <!--
      <a href="#" class="list-group-item list-group-item-action active py-3 lh-tight rounded-3" aria-current="true">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">{{ lesson.name }}</strong>
          <small>{{ lesson.date_created }}</small>
        </div>
        <div class="col-10 mb-1 small">{{ lesson.description }}</div>
        <div class="col-12  d-flex">{% if is_teacher %}<a class="bg-transparent" href="{% url 'lessons_delete' course_id=course.id lesson_id=lesson.id %}"><button type="button" class="btn btn-warning">Löschen</button></a>{% endif %}</div>
      </a>
    -->
      {% endfor %}
      <!--
      <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
        <div class="d-flex w-100 align-items-center justify-content-between">
          <strong class="mb-1">List group item heading</strong>
          <small class="text-muted">Tues</small>
        </div>
        <div class="col-10 mb-1 small">placeholder</div>
      </a>
      -->
    </div>
</div>

<div class="video-container d-flex justify-content-center  col-8 m-5">
</div>



<script src="https://vjs.zencdn.net/7.17.0/video.min.js"></script>
<script>

$(".lesson-container").each(function() {
    $(this).click(function() {
        var video_path = $(this).attr("recordings_url") + "/" + $(this).attr("recording_video_archived_name")
        html_template = `<video
                width="auto"
                height="auto
                id="my-video"
                class="video-js vjs-fill rounded-3"
                controls
                preload="auto"
                data-setup='{"fluid": true, "width": auto, "height": auto}'>
                <source src="${video_path}" type="video/mp4"/>
                <p class="vjs-no-js">
                  To view this video please enable JavaScript, and consider upgrading to a
                  web browser that
                  <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
            </video>`
        console.log(html_template);
        $(".video-container").html("");
        $(".video-container").append(html_template);
    });
});
</script>

{% endblock %}
